<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management - Home</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: white;
            overflow-x: hidden;
            overflow-y: hidden;
        }

        .hero-section {
            min-height: 98vh;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            background: white;
            color: white;
            padding: 0px;
            margin-left: 0px;
        }

        }

        .logo-img {
            margin-bottom: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .logo-img img {
                max-width: 500px;
                height: auto;
                border-radius: 10px;
            }

        .hero-content {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

            .hero-content h1 {
                font-size: 3rem;
                margin-bottom: 20px;
                color: #FF851B;
                text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1), /* Ana gölge */
                1px 1px 2px rgba(255, 255, 255, 0.5);
            }

            .hero-content p {
                font-size: 1.5rem;
                margin-bottom: 40px;
                color: white;
            }

        .btn-primary {
            background-color: #F59E0B;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 30px;
            font-size: 1.2rem;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease;
        }

            .btn-primary:hover {
                background-color: #9B5DE5;
                transform: scale(1.1);
                box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
            }

        .footer {
            background-color: #111111;
            color: white;
            text-align: center;
            padding: 0px;
            margin-left: -200px;
        }

            .footer p {
                margin: 0;
            }
    </style>
</head>
<body>

    <header class="hero-section">
        <div class="logo-img">
            <a>
                <img src="~/lib/bird-colorful-logo-gradient-vector.png" alt="Logo" class="img-fluid" />
            </a>
        </div>
        <div class="hero-content">
            <h1>Welcome this area is admin portal.</h1>
            <a href="@Url.Action("Index", "Product")" class="btn-primary">Inspect</a>
        </div>
    </header>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Product Management. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
